<!DOCTYPE HTML>
<html>
  <head>
    <title>Chat</title>
    <style>
      #chat{
        display:none;
      }
      #error{
        display:none;
      }
    </style>
  </head>
  <body>
    <div id="joinChat" class="joinChat">
      <div class="navbar">
        <h1>Misinformation Block Chat</h1>
      </div>
      <div id="error" class="error">
        <p id="errorText" class="errorText">Failure</p>
      </div>
      <input id="code" placeholder="Chat Code">
      <input id="username" placeholder="Username">

    </div>
    <div id="chat">
      <div class="navbar">
        <h1>Misinformation Block Chat</h1>
      </div>
    </div>
    <script>
      function showChat(){
        
      }
      function getChat(){

      }
      function createChat(){

      }
    </script>
  </body>
</html>
